body p {
    font-weight: 300;
    font-size: 16px;
    color: #727272;
}

body h3 {
    font-weight: 700;
    font-size: 18px;
}

body {
    background-color: rgb(217, 230, 233);
    font-family: 'Work Sans', sans-serif;
    margin: auto 230px;
}

/* Nav bar and logo style */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Common styles */
.title {
    font-weight: 700;
    font-size: 45px;
}

.nav li {
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
}

/*Top Banner style */
.top-banner {
    padding-bottom: 50px;
    margin-bottom: 200px;
}

.top-heading {
    margin-bottom: 50px;
}

.top-title {
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}


.top-heading {
    text-align: center;
    padding: 10px 150px;
}

.btn-primary {
    background-color: rgb(241, 89, 0);
    padding: 10px 22px;
    border: 0;
    border-radius: 5px;
}

.btn-primary a {
    text-decoration: none;
    color: white;
}

.top-img img {
    width: 100%;
    height: 100%;
}

/* Features 1 styles */
.features1 {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px;
    margin-bottom: 200px;
}

.galary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.galary img {
    height: 100%;
    width: 100%;
}

#special-effect {
    color: #727272;
}

#primary-color {
    color: rgb(241, 129, 0);
}

/* Features2 styles */

.features2-title{
    padding-left: 5px;
    border-left: 5px solid rgb(241, 129, 0);
    font-weight: 700;
    font-size: 45px;
}

.features2 {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 200px;
    padding-left: 20px;
}

.features-description {
    padding: 30px 42px 30px 20px;
}

.love-features-img img {
    height: 100%;
    width: 100%;
}

.btn-second {
    background-color: rgb(255, 81, 0);
    border: 0;
    border-radius: 5px;
    padding: 40px 14px;
    position: relative;
    top: -250px;
    left: 400px;
}

.btn-second a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

/* Bonus section styles */
.top-architects {
    text-align: center;
    margin-bottom: 200px;
}

.architect-content {
    margin-bottom: 100px;
}

.architects img {
    height: 80%;
    width: 80%;
}

.architects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

/* Facts section */
.facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
    margin-bottom: 200px;
}

.facts-title {
    margin-bottom: 80px;
}

.fact {
    border: 1px solid rgb(224, 71, 0);
    border-radius: 5px;
    text-align: center;
    padding: 10px 5px;
}

.fact:hover {
    cursor: pointer;
    box-shadow: 10px 7px rgb(37, 37, 37);
    transform: scale(120%);
    transition: 1s;
}

/* sponsor style starts  */
.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 85px;
    margin-bottom: 200px;
}

.sponsors-title {
    text-align: center;
    margin-bottom: 50px;

}

.sponsor img {
    height: 100%;
    width: 100%;
}

/* footer style start */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF4E7;
    border-radius: 8px;
    height: 100px;
}

#footer {
    background: #FFF4E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;


}


@media screen and (max-width: 576px) {
    body {
        margin: 0;
    }

    .header {
        flex-direction: column;
    }

    .nav li {
        display: block;
    }

    .top-heading {
        padding: 10px 30px;
    }

    .galary {
        grid-template-columns: repeat(1, 1fr);
    }

    .features1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .features2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .features2-container {
        text-align: center;
    }

    .btn-second {
        background-color: rgb(255, 81, 0);
        border: 0;
        font-size: 10px;
        color: white;
        padding: 30px 14px;
        top: -200px;
        left: 0;
    }

    .facts {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .facts-title {
        text-align: center;
    }

    .fact {
        border: 0;
    }

    .sponsors {
        grid-template-columns: repeat(1, 1fr);
        padding: 100px;
    }

    .architects {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
}